@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-light-webfont.eot');
    src: url('gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-light-webfont.woff2') format('woff2'),
         url('gothamhtf-light-webfont.woff') format('woff'),
         url('gothamhtf-light-webfont.ttf') format('truetype'),
         url('gothamhtf-light-webfont.svg#gotham_htflight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-book-webfont.eot');
    src: url('gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-book-webfont.woff2') format('woff2'),
         url('gothamhtf-book-webfont.woff') format('woff'),
         url('gothamhtf-book-webfont.ttf') format('truetype'),
         url('gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-bookitalic-webfont.eot');
    src: url('gothamhtf-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-bookitalic-webfont.woff2') format('woff2'),
         url('gothamhtf-bookitalic-webfont.woff') format('woff'),
         url('gothamhtf-bookitalic-webfont.ttf') format('truetype'),
         url('gothamhtf-bookitalic-webfont.svg#gotham_htfbook_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-bold-webfont.eot');
    src: url('gothamhtf-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-bold-webfont.woff2') format('woff2'),
         url('gothamhtf-bold-webfont.woff') format('woff'),
         url('gothamhtf-bold-webfont.ttf') format('truetype'),
         url('gothamhtf-bold-webfont.svg#gotham_htfbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-bolditalic-webfont.eot');
    src: url('gothamhtf-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-bolditalic-webfont.woff2') format('woff2'),
         url('gothamhtf-bolditalic-webfont.woff') format('woff'),
         url('gothamhtf-bolditalic-webfont.ttf') format('truetype'),
         url('gothamhtf-bolditalic-webfont.svg#gotham_htfbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Gotham';
    src: url('gothamhtf-black-webfont.eot');
    src: url('gothamhtf-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamhtf-black-webfont.woff2') format('woff2'),
         url('gothamhtf-black-webfont.woff') format('woff'),
         url('gothamhtf-black-webfont.ttf') format('truetype'),
         url('gothamhtf-black-webfont.svg#gotham_htfbold_italic') format('svg');
    font-weight: 900;
    font-style: normal;
}
