doctype html
html
  head
    title Timex
    link(rel="stylesheet" type="text/css" href="style.css")
    meta(charset="utf-8")
    script(src="js/jquery-1.11.1.js")
    script(src="js/jquery.bxslider.js")
    script(src="js/jquery.mousewheel.js")
    script(src="js/jquery.jscrollpane.js")
    script(src="js/jquery-scrollspy.js")
    script(src="js/masonry.pkgd.js")
    script(src="js/main.js")
  body
    .container
      .header
        a.logo(href="index.html")
          img(src="images/logo.png")
        .nav
          ul
            li: a(href="inspirationals.html") The Insipirationals
            li: a(href="article-index.html") Articles
            li: a(href="product.html") Products
            li: a(href="tag-wall.html") #TAG Wall
            li: a(href="#") The Predictor
        ul.social
          li.youtube: a(href="#") Youtube
          li.twitter: a(href="#") Twitter
          li.facebook: a(href="#") Facebook
          li.pinterest: a(href="#") Pinterest
          li.instagram: a(href="#") Instagram
        .timer
          ul.timer-count
            li 254
            li 12
            li 43
            li 12
          ul.timer-label
            li Days
            li Hrs
            li Mins
            li Secs

      block content

      .footer
        .logo
          img(src="images/logo.png")
        .logo-sub
          img(src="images/logo-sub.png")


        ul.social
          li.youtube: a(href="#") Youtube
          li.twitter: a(href="#") Twitter
          li.facebook: a(href="#") Facebook
          li.pinterest: a(href="#") Pinterest
          li.instagram: a(href="#") Instagram

        .nav
          ul
            li &copy; 2014 Timex Group USA, INC
            li All Rights Reserved
            li: a(href="#") Privacy Policy
            li: a(href="#") Terms of Use
            li: a(href="#") Global Sites
            li: a(href="#") Corporate Site
