extends _template

block content
  .content.article
    .content-full
      .scroll
        .content-banner(style="background-image: url('images/temp/article-header.jpg');")
          div
            h1.title-shade-blue Article <span>#10</span>
            h2.title-shade-blue How <span>Live Tracking</span><br>Can Dramaticaly Change Stuff
        .content-copy
          h2 Live Tracking <span>Explained</span>
          h4 Author: G. Lineker <span>- 01 DECEMBER 2014</span>

          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

          .copy-image
            ul
              li: img(src="images/temp/article-image1.jpg")
              li: img(src="images/temp/article-image2.jpg")
              li: img(src="images/temp/article-image3.jpg")
            p Lorem

          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

          hr.divider-long

        .article-related
          h2 Related <span>Articles</span>
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          a.btn.btn-large.btn-wide(href="#") Return




