extends _template

block content
  .content.article-index
    .scroll
      .article-index-set
        .content-left
          .hero.fixed(style="background-image: url('images/temp/hero.jpg');")
            div
              h1.title-color-white Article <span>#1</span>
              h2.title-color-white <span>Timex</span> the <span>Official Timekeeper</span> of the <span>London Marathon</span>
              a(href="#").btn.btn-large Find Our More

        .content-right
          .article-tag-links
            h1 Sort Articles By:
            ul
              li: a(href="#") Training
              li: a(href="#") Diet
              li: a(href="#") Pacing Yourself
              li: a(href="#") London Marathon
              li: a(href="#") The Inspirationals
              li: a(href="#") Kit

          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article

      .article-index-set
        .content-full
          .content-banner(style="background-image: url('images/temp/article-header.jpg');")
            div
              img(src="images/temp/hero-text.png")
              a.btn.btn-large(href="#") Find Out More

        .center
          a.btn.btn-large.btn-wider.btn-load-more(href="#") Load More
