extends _template

block content
  .content.home
    .scroll
      .content-left
        .fixed
          .hero(style="background-image: url('images/temp/hero.jpg');")
            div
              img(src="images/temp/hero-text.png")
              a(href="#").btn.btn-large Find Our More

      .content-right
        .post-link-item
          ul.slider
            li(style="background-image: url('images/temp/meet-the-inspirationals.jpg');")
              .post-link-item-content.right
                img(src="images/temp/meet-the-inspirationals-text.png")
                a(href="#").btn Find Our More
                ul.slider-pager
                  li.active 1
                  li 2
                  li 3

        .post-link-item(style="background-image: url('images/temp/join-the-inspirationals.jpg');")
          .post-link-item-content.left
            img(src="images/temp/join-the-inspirationals-text.png")
            a(href="#").btn Find Our More

        .post-link-item
          ul.slider
            li(style="background-image: url('images/temp/connect-on-the-run.jpg');")
              .post-link-item-content.right
                img(src="images/temp/connect-on-the-run-text.png")
                a(href="#").btn Find Our More
                ul.slider-pager
                  li.active 1
                  li 2
                  li 3


        .post-link-item(style="background-image: url('images/temp/article3.jpg');")
          .post-link-item-content.left
            h2 Article #3
            h1.title-color-grey Fell <span>Running</span>
            a(href="#").btn View the Article
            a(href="#").btn See All Articles

        .post-link-item.social-feed
          h1 Social Feed
          ul
            li.social-feed-twitter
              .social-feed-image
                img(src="images/temp/twitter-image.jpg")
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            li.social-feed-instagram
              .social-feed-image
                img(src="images/temp/instagram-photo.jpg")
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            li.social-feed-twitter
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
          a(href="#").btn VIEW THE #TAG WALL


