extends _template

block content
  .content.inspirationals
    .scroll
      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li.active 1
              li 2
              li 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL


      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero2.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li 1
              li.active 2
              li 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL

      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li 1
              li 2
              li.active 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL


