@import 'jeet'
@import 'rupture'
@import 'css/normalize.css'
@import 'css/jquery.bxslider.css'
@import 'css/jquery.jscrollpane.css'
@import 'fonts/gotham/stylesheet.css'
@import 'fonts/digitaldisplay/stylesheet.css'

*
  box-sizing: border-box

html, body
  background-color: #2F2D2D
  margin: 0
  font-family: Gotham, Helvetica Neue, Arial, sans-serif
  overflow: hidden

.container
  max-width: 1500px
  box-shadow: 0 0 10px rgba(#000, 0.5)
  margin: 0 auto

.full-width
  max-width: none

.show-overflow
  overflow: auto
  .footer
    .logo
      transition: all 200ms ease
      margin-top: -1.5em

.logo
  margin: 0 auto
  width: 152px
  text-align: center
  position: relative
  z-index: 1000
  display: block

.logo-sub
  text-align: center
  padding: 0 1em
  width: 100%

.header
  background-color: #000
  height: 70px
  position: relative
  z-index: 2000

  .logo
    top: 3em

  .nav
    background: url('images/nav-icon.png') no-repeat 20px 20px
    position: absolute
    top: 0
    z-index: 100
    height: 70px
    width: 90px
    transition: all 100ms ease
    overflow: hidden
    padding-top: 3.5em
    &.active, &:hover
      background-image: url('images/nav-icon-active.png'), linear-gradient( 90deg, rgb(174,18,49) 0%, rgb(221,4,43) 100%);
      background-position: 20px 15px, left top
      height: 264px
      width: 234px
    ul
      list-style-type: none
      padding: 0
      padding: 0 20px
    li
      background: url('images/nav-divider.png') no-repeat bottom center
      padding: 0.45em 0 0.65em 0
      &:last-child
        background-image: none
    a
      color: #fff
      text-decoration: none
      text-transform: uppercase
      font-size: 0.85em
      transition: color 100ms ease
      &:hover, &.active
        color: #650611

  .social
    position: absolute
    right: 195px
    top: 0.5em

ul.social
  list-style-type: none
  padding: 0
  margin: 0
  width: 230px
  li
    text-indent: 9999px
    overflow: hidden
    background: url('') no-repeat center center
    height: 20px
    width: 25px
    display: inline-block
    margin: 0 0.15em
    opacity: 0.3
    transition: opacity 100ms ease
    cursor: pointer
    &:hover
      opacity: 1
    &.youtube
      background-image: url('images/social-youtube.png')
      width: 50px
    &.twitter
      background-image: url('images/social-twitter.png')
    &.facebook
      background-image: url('images/social-facebook.png')
    &.pinterest
      background-image: url('images/social-pinterest.png')
    &.instagram
      background-image: url('images/social-instagram.png')

ul.social-black
  li
    &.youtube
      background-image: url('images/social-youtube-black.png')
      width: 50px
    &.twitter
      background-image: url('images/social-twitter-black.png')
    &.facebook
      background-image: url('images/social-facebook-black.png')
    &.pinterest
      background-image: url('images/social-pinterest-black.png')
    &.instagram
      background-image: url('images/social-instagram-black.png')


.timer
  width: 218px
  height: 70px
  background: url('images/timer-bg.png')
  position: absolute
  right: 0
  top: 0
  padding: 1em
  text-align: center
  ul
    list-style-type: none
    padding: 0
    margin: 0 auto
    text-align: left
    padding-left: 10px
    li
      display: inline-block
      text-align: center
      width: 20%
  .timer-count
    color: #e4c431
    font-family: 'Digital Display', sans-serif
    font-size: 1.5em
    background-color: #323232
    padding: 0 0.25em
    height: 22px
    margin-top: -5px
    margin-bottom: 10px
    padding-left: 15px
    li
      top: -3px
      position: relative
      margin-right: 5px
  .timer-label
    text-transform: uppercase
    font-size: 0.55em
    color: #fff
    margin-left: 8px
    margin-top: 6px
    li
      padding-right: 2px
      box-sizing: content-box
    li:after
      content: '|'
      color: #323232
      font-size: 1.5em
      position: relative
      padding-left: 8px
      box-sizing: content-box
      bottom: -2px
    li:last-child:after
      content: none

.footer
  background-color: #040404
  margin-top: 0
  height: 180px
  z-index: 2000
  cf()
  .social
    margin: 0 auto
    padding-left: 25px
    margin-top: -5px

  .nav
    color: #595959
    margin: 2em auto
    width: 960px
    ul
      padding: 0
      list-style-type: none
    li
      display: inline-block
      font-size: 0.75em
      text-transform: uppercase
      margin: 0 1.25em
    a
      text-decoration: none
      color: #595959

.show-footer
  .content
  .fixed
    transition: all 200ms ease
    margin-top: -180px
  .footer
    .logo
      transition: all 200ms ease
      margin-top: -1.5em

.hide-footer
  .content
  .fixed
    transition: all 200ms ease
    margin-top: 0px
  .footer
    .logo
      transition: all 200ms ease
      margin-top: 0

.content
  cf()

.content-left
.content-right
  width: 50%
  float: left
  position: relative

.content-right
  float: right

.content-full
  clear: both
  position: relative
  z-index: 1500

.scroll
  overflow: hidden

.btn
  background-image: linear-gradient( 0deg, rgb(174,18,49) 0%, rgb(221,4,43) 100%);
  border-radius: 3px
  border: 1px solid #A3071B
  font-size: 0.75em
  font-weight: 900
  color: #fff
  text-decoration: none
  text-transform: uppercase
  padding: 0.25em 0.5em
  transition: all 200ms ease
  text-align: center
  display: inline-block
  &:hover
    background-image: linear-gradient( 0deg, lighten(rgb(174,18,49), 10%) 0%, darken(rgb(221,4,43), 10%) 100%);

.btn-large
  font-size: 1em
  padding: 0.25em 1em

.btn-wide
  min-width: 200px
  margin: 0 auto

.btn-wider
  min-width: 300px

.post-link-item
  height: 190px
  position: relative
  background-size: cover
  overflow: hidden
  .post-link-item-content
    padding: 1.5em 2.5em
    text-align: center
    max-width: 250px
  img
    display: block
    margin: 0 auto
    margin-bottom: 0.75em
  h2
    font-weight: 500
    text-transform: uppercase
    color: #ae1231
    background: url('images/title-underline.png') no-repeat center bottom
    padding: 0
    padding-bottom: 4px
    display: inline-block
    font-size: 0.8em
    margin: 0.5em 0
  h1
    font-weight: 900
    font-size: 1em
    text-transform: uppercase
    letter-spacing: -1px
    margin: 0
    margin-bottom: 0.9em
  .slider
    margin: 0
    > li
      height: 190px
      background-size: cover

  .btn
    display: inline-block
    margin-bottom: 1em

.slider-pager
  list-style-type: none
  padding: 0
  margin-top: -0.3em
  li
    display: inline-block
    border: 1px solid #AE1231
    line-height: 1em
    overflow: hidden
    text-indent: -9999px
    border-radius: 20px
    height: 12px
    width: 12px
    margin: 0 0.35em
    &.active
      background: #AE1231

.bx-wrapper
  margin-bottom: 0
  .bx-viewport
    box-shadow: none
    border: 0
    left: 0
    background: transparent
    transform: translateZ(0)


// Helper classes

.left
  float: left

.right
  float: right

.center
  text-align: center

.title-color-grey
  color: #474646
  span
    color: #6C6C69

.title-color-white
  color: #D7E1F1
  span
    color: #fff

.title-color-red
  color: #E12A2E
  span
    color: #F45F62

.title-shade-blue
  span
    color: #88A3C3

// Page-specific styles

.hero
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  overflow: hidden
  div
    text-align: center
    position: relative
    height: 100%
    img
      display: block
      margin: 0 auto
      max-width: 100%
  h1
    font-weight: 900
    text-transform: uppercase
    background: url('images/title-underline-white.png') no-repeat center bottom
    padding: 0
    padding-bottom: 4px
    display: inline-block
    font-size: 2.75em
    margin: 1.5em 0 0.25em
    letter-spacing: -1px

  h2
    text-transform: uppercase
    font-weight: 900
    max-width: 520px
    font-size: 1.5em
    margin: 0 auto
    padding: 0 1em


.home
  .hero
    background-position: center top
    div
      img
        padding: 4em 0
      .btn
        position: absolute
        bottom: 3em
        left: 50%
        transform: translateX(-50%)

.inspirationals
  .hero
    img
      position: absolute
      bottom: 5em
      left: 50%
      transform: translateX(-50%)

  .social-feed
    border-top: 5px solid #262626


  .social
    position: absolute
    bottom: 2em
    left: 50%
    transform: translateX(-50%)

  .content-copy
    background-color: #333333

  .inspirationals-item:last-child
    .content-right
      margin-bottom: 1em


.slider-pager-vertical
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  li
    display: block
    margin-bottom: 1.5em

.article-index
  .hero
    background-position: center top
    div
      img
        padding: 4em 0
      .btn
        position: absolute
        bottom: 3em
        left: 50%
        transform: translateX(-50%)

.product
  .hero
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translateY(-50%) translateX(-50%)
  .social
    position: absolute
    bottom: 2em
    left: 50%
    transform: translateX(-50%)
  .btn-review-container
    margin-top: -4em
    text-align: center
    z-index: 1100
    position: relative

  .btn-buy
    margin-top: 2em
    margin-bottom: -2em


.scroll
  .fixed
    width: 740px
    +below(1500px)
      width: 50%
      margin-left: -10px


.article-tag-links
  h1
    background-color: #7C0310
    color: #DB2D3F
    font-size: 1.25em
    font-weight: 900
    text-transform: uppercase
    text-align: center
    display: block
    padding: 0.75em 1em
    margin: 0
  ul
    background-color: #990717
    text-align: center
    padding: 1em
    margin: 0
    border-top: 1px solid #DF2E41
    li
      display: inline-block
      padding-right: 0.25em
      &:after
        content: '//'
        color: #DF2E41
        padding-left: 0.75em
      &:last-child:after
        content: none
      a
        color: #fff
        text-decoration: none
        font-weight: bold
        text-transform: uppercase

.jspVerticalBar
  width: 20px
  background: #CBCBCB

.jspTrack
  background: #CBCBCB
  padding-bottom: 2px

.jspDrag
  background: #AD1230 url('images/scroll-bg.png') no-repeat center center
  margin: 2px
  border-radius: 20px

.jspCorner, .jspArrow
  background: none

.social-feed
  background-color: #323232
  height: auto
  color: darken(#fff, 15%)
  padding-bottom: 0.5em
  h1
    font-weight: 900
    font-size: 1em
    text-transform: uppercase
    letter-spacing: -1px
    color: #CBCBCB
    text-align: center
    display: block
    position: relative
    width: 100%
    margin: 0 auto
    padding-top: 0.75em
    padding-bottom: 0.25em
    &:after, &:before
      content: ''
      display: inline-block
      background: url('images/title-line-left.png') no-repeat left center
      width: 167px
      height: 5px
      position: relative
      top: -0.25em
      padding: 0 0.25em
    &:after
      background: url('images/title-line-right.png') no-repeat right center
  ul
    padding: 0
    list-style-type: none
    margin: 0.35em
    li
      background-color: #4C4C4C
      col(1/3, cycle: 3, gutter: .75)
      padding: 0.5em
  .social-feed-image
    img
      width: 100%
  .social-feed-info
    img
      float: left
      margin-right: 0.5em
     span
       display: block
       font-size: 0.75em
  .social-feed-content
     font-size: 0.75em
     clear: both
     p
       margin: 0.5em 0
     a
       text-decoration none
       color: #fff
       &:hover
        text-decoration: underline

  .btn
    margin-top: 5px

.social-feed-twitter
  background: #4C4C4C url('images/social-feed-twitter-bg.png') no-repeat bottom right
.social-feed-instagram
  background: #666666 url('images/social-feed-instagram-bg.png') no-repeat bottom right

.content-copy
  padding: 1.5em
  h2, h3, h4
    text-transform: uppercase
    margin: 0
    padding: 0
  h3, h4
    color: #fff
  h2
    font-weight: 900
    margin-top: 1em
  h4
    font-size: 0.85em
    span
      font-weight: normal
  p
    color: #666
    font-size: 0.95em
    line-height: 1.2em
  .copy-image
    margin-left: -1.5em
    margin-right: -1.5em
    margin-bottom: 1em
    img
      width: 100%
    p
      color: #fff
      font-style: italic
      text-align: center
      margin: 0.5em
      font-size: 0.9em
    ul
      list-style-type: none
      padding: 0
  .divider-long
  .divider-short
    background: url('images/divider-long.png') no-repeat center center
    border: none
    height: 3px
    width: 100%
    margin: 2em 0
  .divider-short
    background-image: url('images/divider-short.png');
  .copy-question
  .copy-answer
    padding-left: 2.25em
    background: url('images/copy-question.png') no-repeat left 4px
    color: lighten(#666, 25%)
  .copy-answer
    background-image: url('images/copy-answer.png')
    color: #666
  .copy-links
    font-weight: 900
    text-align: center
    margin-top: -1em
    font-size: 0.9em
    span
      color: #ccc
      padding-right: 0.75em
    ul
      list-style-type: none
      padding: 0
      display: inline-block
      li
        display: inline-block
        padding-right: 0.5em
        &:after
          content: '|'
          font-weight: 100
          padding-left: 0.75em
        &:last-child:after
          content: none
        a
          color: #E12A2E
          text-decoration: none
          &:hover
            color: darken(#E12A2E, 10%)



.quote-box
  margin: 3em -1.5em
  background-size: cover
  min-height: 160px
  position: relative
  z-index: 500
  img
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    position: absolute

.copy-bg
  margin: 0 -1.5em
  margin-top: -5em
  background-size: cover
  img
    opacity: 0

  & + .quote-box
    margin-top: 0

  &:last-child
    position: absolute
    width: 100%
    bottom: 0


.product-item
  cf()
  .content-left
    width: 53%
  .content-right
    width: 47%
  .fixed
    position: fixed !important
    left: 53%
    top: 70px
    margin-left: -808px
    width: 785px !important
    transition: margin-top 200ms ease !important
    +below(1500px)
      width: 53% !important
      left: 4px
      margin-left: 0
      .slider-pager
        right: 24px
  &.product-item-right
    .content-left
      float: right
      width: 53% !important
    .content-right
      float: left
      width: 47% !important
    .fixed
      right: 53%
      left: auto
      top: 70px
      margin-right: -790px
      width: 785px !important
      transition: margin-top 200ms ease !important
      +below(1500px)
        width: 53% !important
        left: auto
        right: 14px
        margin-right: 0
  p, li
    font-size: 0.9em
    color: #666
  strong
    color: #fff
    font-weight: normal
  ul
    list-style-type: none
    padding-left: 1.5em
    li
      &:before
        content: '•'
        line-height: 1em
        font-size: 1.5em
        top: 0.15em
        position: relative
        margin-right: 0.25em
  .btn-review
    margin: 0 auto


#ironman-one-gps
  .content-right
    background-color: #1C2329
  .content-copy
    h2
      color: #929D15
      span
        color: #CDDC38
    p, li
      color: #666
    li:before
      color: #CDDC38

#ironman-run-x20-gps
  .content-right
    background-color: #2B4459
  .content-copy
    h2
      color: #0387A7
      span
        color: #69C1D6
    p, li
      color: #999
    li:before
      color: #69C1D6

#ironman-move-x20
  .content-right
    background-color: #1B1C1D
  .content-copy
    h2
      color: #791B70
      span
        color: #A74D99
    p, li
      color: #666
    li:before
      color: #A74D99

#ironman-run-x50
  .content-right
    background-color: #393A2B
  .content-copy
    h2
      color: #AAC941
      span
        color: #C6DA7F
    p, li
      color: #999
    li:before
      color: #C6DA7F

.content-banner
  background-size: cover
  background-position: center center
  min-height: 275px

  div
    width: 40%
    text-align: center
    padding: 1em

  h1
    font-weight: 900
    text-transform: uppercase
    background: url('images/title-underline-white.png') no-repeat center bottom
    padding: 0
    padding-bottom: 4px
    display: inline-block
    font-size: 2em
    margin: 2em 0 0.25em
    letter-spacing: -1px
    color: #fff

  h2
    text-transform: uppercase
    font-weight: 900
    max-width: 520px
    font-size: 1.25em
    margin: 0 auto
    color: #CBCBCB
    line-height: 1em

  img
    margin: 2em auto
    display: block

  .btn
    margin: 1.5em auto


.article
  .content-full
    background-color: #252525

  .content-copy
    padding: 0 7.5em
    margin: 0 auto

  .copy-image
    margin: 1em -7.5em

  .content-copy
    h2
      color: #859FBD
      span
        color: #B7C9DF

  .article-related
    margin: 1em 0
    text-align: center
    .post-link-item
      span(1/2)

    > h2
      color: #859FBD
      text-align: center
      margin: 0.5em 0
      text-transform: uppercase
      font-weight: 900
      span
        color: #B7C9DF

    > .btn
      margin: 1em 0

.article-index-set
  clear: both
  cf()

.bx-wrapper
  .bx-pager.bx-default-pager
    bottom: 1.5em
    a
      display: inline-block
      border: 1px solid #AE1231
      line-height: 1em
      overflow: hidden
      text-indent: -9999px
      border-radius: 20px
      height: 12px
      width: 12px
      margin: 0 0.35em
      background: none
      &.active
        background: #AE1231

.btn-load-more
  margin: 2em 0

.tag-wall
  ul
    padding: 0
    margin: 16px auto
    list-style-type: none
    li
      background-color: #4C4C4C
      display: block
      width: 250px
      margin-bottom: 8px
      padding: 10px
  .social-feed-image
    img
      width: 100%
  .social-feed-info
    margin: 0.5em 0
    cf()
    img
      float: left
      margin-right: 0.5em
      width: 40px
      height: 40px
    span
      display: block
      font-size: 0.75em
      color: #fff
      padding-top: 0.5em
      &:last-child
        color: #ccc
        padding-top: 0
  .social-feed-content
    font-size: 0.8em
    clear: both
    color: #fff
    p
      margin: 0.5em 0
      color: #ccc
    a
      text-decoration none
      color: #fff
      &:hover
        text-decoration: underline

.fixed
  position: fixed !important
  left: 50%
  top: 70px
  margin-left: -750px
  width: 750px
  transition: margin-top 200ms ease !important
  +below(1500px)
    width: 50%
    left: 0
    margin-left: 0

.scroll
  .fixed
    width: 740px
    +below(1500px)
      width: 50%
      margin-left: -10px




.inspirationals-item
  cf()
