@import 'css/normalize.css';
@import 'css/jquery.bxslider.css';
@import 'css/jquery.jscrollpane.css';
@import 'fonts/gotham/stylesheet.css';
@import 'fonts/digitaldisplay/stylesheet.css';
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html,
body {
  background-color: #2f2d2d;
  margin: 0;
  font-family: Gotham, Helvetica Neue, Arial, sans-serif;
  overflow: hidden;
}
.container {
  max-width: 1500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
}
.full-width {
  max-width: none;
}
.show-overflow {
  overflow: auto;
}
.show-overflow .footer .logo {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  margin-top: -1.5em;
}
.logo {
  margin: 0 auto;
  width: 152px;
  text-align: center;
  position: relative;
  z-index: 1000;
  display: block;
}
.logo-sub {
  text-align: center;
  padding: 0 1em;
  width: 100%;
}
.header {
  background-color: #000;
  height: 70px;
  position: relative;
  z-index: 2000;
}
.header .logo {
  top: 3em;
}
.header .nav {
  background: url("images/nav-icon.png") no-repeat 20px 20px;
  position: absolute;
  top: 0;
  z-index: 100;
  height: 70px;
  width: 90px;
  -webkit-transition: all 100ms ease;
          transition: all 100ms ease;
  overflow: hidden;
  padding-top: 3.5em;
}
.header .nav.active,
.header .nav:hover {
  background-image: url("images/nav-icon-active.png"), -webkit-linear-gradient(0deg, #ae1231 0%, #dd042b 100%);
  background-image: url("images/nav-icon-active.png"), linear-gradient(90deg, #ae1231 0%, #dd042b 100%);
  background-position: 20px 15px, left top;
  height: 264px;
  width: 234px;
}
.header .nav ul {
  list-style-type: none;
  padding: 0;
  padding: 0 20px;
}
.header .nav li {
  background: url("images/nav-divider.png") no-repeat bottom center;
  padding: 0.45em 0 0.65em 0;
}
.header .nav li:last-child {
  background-image: none;
}
.header .nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
  -webkit-transition: color 100ms ease;
          transition: color 100ms ease;
}
.header .nav a:hover,
.header .nav a.active {
  color: #650611;
}
.header .social {
  position: absolute;
  right: 195px;
  top: 0.5em;
}
ul.social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 230px;
}
ul.social li {
  text-indent: 9999px;
  overflow: hidden;
  background: url("") no-repeat center center;
  height: 20px;
  width: 25px;
  display: inline-block;
  margin: 0 0.15em;
  opacity: 0.3;
  -webkit-transition: opacity 100ms ease;
          transition: opacity 100ms ease;
  cursor: pointer;
}
ul.social li:hover {
  opacity: 1;
}
ul.social li.youtube {
  background-image: url("images/social-youtube.png");
  width: 50px;
}
ul.social li.twitter {
  background-image: url("images/social-twitter.png");
}
ul.social li.facebook {
  background-image: url("images/social-facebook.png");
}
ul.social li.pinterest {
  background-image: url("images/social-pinterest.png");
}
ul.social li.instagram {
  background-image: url("images/social-instagram.png");
}
ul.social-black li.youtube {
  background-image: url("images/social-youtube-black.png");
  width: 50px;
}
ul.social-black li.twitter {
  background-image: url("images/social-twitter-black.png");
}
ul.social-black li.facebook {
  background-image: url("images/social-facebook-black.png");
}
ul.social-black li.pinterest {
  background-image: url("images/social-pinterest-black.png");
}
ul.social-black li.instagram {
  background-image: url("images/social-instagram-black.png");
}
.timer {
  width: 218px;
  height: 70px;
  background: url("images/timer-bg.png");
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  text-align: center;
}
.timer ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  padding-left: 10px;
}
.timer ul li {
  display: inline-block;
  text-align: center;
  width: 20%;
}
.timer .timer-count {
  color: #e4c431;
  font-family: 'Digital Display', sans-serif;
  font-size: 1.5em;
  background-color: #323232;
  padding: 0 0.25em;
  height: 22px;
  margin-top: -5px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.timer .timer-count li {
  top: -3px;
  position: relative;
  margin-right: 5px;
}
.timer .timer-label {
  text-transform: uppercase;
  font-size: 0.55em;
  color: #fff;
  margin-left: 8px;
  margin-top: 6px;
}
.timer .timer-label li {
  padding-right: 2px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}
.timer .timer-label li:after {
  content: '|';
  color: #323232;
  font-size: 1.5em;
  position: relative;
  padding-left: 8px;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  bottom: -2px;
}
.timer .timer-label li:last-child:after {
  content: none;
}
.footer {
  background-color: #040404;
  margin-top: 0;
  height: 180px;
  z-index: 2000;
  *zoom: 1;
}
.footer:before,
.footer:after {
  content: '';
  display: table;
}
.footer:after {
  clear: both;
}
.footer .social {
  margin: 0 auto;
  padding-left: 25px;
  margin-top: -5px;
}
.footer .nav {
  color: #595959;
  margin: 2em auto;
  width: 960px;
}
.footer .nav ul {
  padding: 0;
  list-style-type: none;
}
.footer .nav li {
  display: inline-block;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 0 1.25em;
}
.footer .nav a {
  text-decoration: none;
  color: #595959;
}
.show-footer .content,
.show-footer .fixed {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  margin-top: -180px;
}
.show-footer .footer .logo {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  margin-top: -1.5em;
}
.hide-footer .content,
.hide-footer .fixed {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  margin-top: 0px;
}
.hide-footer .footer .logo {
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  margin-top: 0;
}
.content {
  *zoom: 1;
}
.content:before,
.content:after {
  content: '';
  display: table;
}
.content:after {
  clear: both;
}
.content-left,
.content-right {
  width: 50%;
  float: left;
  position: relative;
}
.content-right {
  float: right;
}
.content-full {
  clear: both;
  position: relative;
  z-index: 1500;
}
.scroll {
  overflow: hidden;
}
.btn {
  background-image: -webkit-linear-gradient(90deg, #ae1231 0%, #dd042b 100%);
  background-image: linear-gradient(0deg, #ae1231 0%, #dd042b 100%);
  border-radius: 3px;
  border: 1px solid #a3071b;
  font-size: 0.75em;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  text-align: center;
  display: inline-block;
}
.btn:hover {
  background-image: -webkit-linear-gradient(90deg, #cb1539 0%, #c70427 100%);
  background-image: linear-gradient(0deg, #cb1539 0%, #c70427 100%);
}
.btn-large {
  font-size: 1em;
  padding: 0.25em 1em;
}
.btn-wide {
  min-width: 200px;
  margin: 0 auto;
}
.btn-wider {
  min-width: 300px;
}
.post-link-item {
  height: 190px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}
.post-link-item .post-link-item-content {
  padding: 1.5em 2.5em;
  text-align: center;
  max-width: 250px;
}
.post-link-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.75em;
}
.post-link-item h2 {
  font-weight: 500;
  text-transform: uppercase;
  color: #ae1231;
  background: url("images/title-underline.png") no-repeat center bottom;
  padding: 0;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.5em 0;
}
.post-link-item h1 {
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 0.9em;
}
.post-link-item .slider {
  margin: 0;
}
.post-link-item .slider > li {
  height: 190px;
  background-size: cover;
}
.post-link-item .btn {
  display: inline-block;
  margin-bottom: 1em;
}
.slider-pager {
  list-style-type: none;
  padding: 0;
  margin-top: -0.3em;
}
.slider-pager li {
  display: inline-block;
  border: 1px solid #ae1231;
  line-height: 1em;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 20px;
  height: 12px;
  width: 12px;
  margin: 0 0.35em;
}
.slider-pager li.active {
  background: #ae1231;
}
.bx-wrapper {
  margin-bottom: 0;
}
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  left: 0;
  background: transparent;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.title-color-grey {
  color: #474646;
}
.title-color-grey span {
  color: #6c6c69;
}
.title-color-white {
  color: #d7e1f1;
}
.title-color-white span {
  color: #fff;
}
.title-color-red {
  color: #e12a2e;
}
.title-color-red span {
  color: #f45f62;
}
.title-shade-blue span {
  color: #88a3c3;
}
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
.hero div {
  text-align: center;
  position: relative;
  height: 100%;
}
.hero div img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.hero h1 {
  font-weight: 900;
  text-transform: uppercase;
  background: url("images/title-underline-white.png") no-repeat center bottom;
  padding: 0;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 2.75em;
  margin: 1.5em 0 0.25em;
  letter-spacing: -1px;
}
.hero h2 {
  text-transform: uppercase;
  font-weight: 900;
  max-width: 520px;
  font-size: 1.5em;
  margin: 0 auto;
  padding: 0 1em;
}
.home .hero {
  background-position: center top;
}
.home .hero div img {
  padding: 4em 0;
}
.home .hero div .btn {
  position: absolute;
  bottom: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.inspirationals .hero img {
  position: absolute;
  bottom: 5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.inspirationals .social-feed {
  border-top: 5px solid #262626;
}
.inspirationals .social {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.inspirationals .content-copy {
  background-color: #333;
}
.inspirationals .inspirationals-item:last-child .content-right {
  margin-bottom: 1em;
}
.slider-pager-vertical {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider-pager-vertical li {
  display: block;
  margin-bottom: 1.5em;
}
.article-index .hero {
  background-position: center top;
}
.article-index .hero div img {
  padding: 4em 0;
}
.article-index .hero div .btn {
  position: absolute;
  bottom: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.product .hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.product .social {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.product .btn-review-container {
  margin-top: -4em;
  text-align: center;
  z-index: 1100;
  position: relative;
}
.product .btn-buy {
  margin-top: 2em;
  margin-bottom: -2em;
}
.scroll .fixed {
  width: 740px;
}
@media only screen and (max-width: 1500px) {
  .scroll .fixed {
    width: 50%;
    margin-left: -10px;
  }
}
.article-tag-links h1 {
  background-color: #7c0310;
  color: #db2d3f;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0.75em 1em;
  margin: 0;
}
.article-tag-links ul {
  background-color: #990717;
  text-align: center;
  padding: 1em;
  margin: 0;
  border-top: 1px solid #df2e41;
}
.article-tag-links ul li {
  display: inline-block;
  padding-right: 0.25em;
}
.article-tag-links ul li:after {
  content: '//';
  color: #df2e41;
  padding-left: 0.75em;
}
.article-tag-links ul li:last-child:after {
  content: none;
}
.article-tag-links ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.jspVerticalBar {
  width: 20px;
  background: #cbcbcb;
}
.jspTrack {
  background: #cbcbcb;
  padding-bottom: 2px;
}
.jspDrag {
  background: #ad1230 url("images/scroll-bg.png") no-repeat center center;
  margin: 2px;
  border-radius: 20px;
}
.jspCorner,
.jspArrow {
  background: none;
}
.social-feed {
  background-color: #323232;
  height: auto;
  color: #d9d9d9;
  padding-bottom: 0.5em;
}
.social-feed h1 {
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #cbcbcb;
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 0.75em;
  padding-bottom: 0.25em;
}
.social-feed h1:after,
.social-feed h1:before {
  content: '';
  display: inline-block;
  background: url("images/title-line-left.png") no-repeat left center;
  width: 167px;
  height: 5px;
  position: relative;
  top: -0.25em;
  padding: 0 0.25em;
}
.social-feed h1:after {
  background: url("images/title-line-right.png") no-repeat right center;
}
.social-feed ul {
  padding: 0;
  list-style-type: none;
  margin: 0.35em;
}
.social-feed ul li {
  background-color: #4c4c4c;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 32.8333333333333%;
  margin-left: 0%;
  margin-right: 0.75%;
  padding: 0.5em;
}
.social-feed ul li:before,
.social-feed ul li:after {
  content: '';
  display: table;
}
.social-feed ul li:after {
  clear: both;
}
.social-feed ul li:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.social-feed ul li:nth-child(3n+1) {
  clear: both;
}
.social-feed .social-feed-image img {
  width: 100%;
}
.social-feed .social-feed-info img {
  float: left;
  margin-right: 0.5em;
}
.social-feed .social-feed-info span {
  display: block;
  font-size: 0.75em;
}
.social-feed .social-feed-content {
  font-size: 0.75em;
  clear: both;
}
.social-feed .social-feed-content p {
  margin: 0.5em 0;
}
.social-feed .social-feed-content a {
  text-decoration: none;
  color: #fff;
}
.social-feed .social-feed-content a:hover {
  text-decoration: underline;
}
.social-feed .btn {
  margin-top: 5px;
}
.social-feed-twitter {
  background: #4c4c4c url("images/social-feed-twitter-bg.png") no-repeat bottom right;
}
.social-feed-instagram {
  background: #666 url("images/social-feed-instagram-bg.png") no-repeat bottom right;
}
.content-copy {
  padding: 1.5em;
}
.content-copy h2,
.content-copy h3,
.content-copy h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.content-copy h3,
.content-copy h4 {
  color: #fff;
}
.content-copy h2 {
  font-weight: 900;
  margin-top: 1em;
}
.content-copy h4 {
  font-size: 0.85em;
}
.content-copy h4 span {
  font-weight: normal;
}
.content-copy p {
  color: #666;
  font-size: 0.95em;
  line-height: 1.2em;
}
.content-copy .copy-image {
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: 1em;
}
.content-copy .copy-image img {
  width: 100%;
}
.content-copy .copy-image p {
  color: #fff;
  font-style: italic;
  text-align: center;
  margin: 0.5em;
  font-size: 0.9em;
}
.content-copy .copy-image ul {
  list-style-type: none;
  padding: 0;
}
.content-copy .divider-long,
.content-copy .divider-short {
  background: url("images/divider-long.png") no-repeat center center;
  border: none;
  height: 3px;
  width: 100%;
  margin: 2em 0;
}
.content-copy .divider-short {
  background-image: url("images/divider-short.png");
}
.content-copy .copy-question,
.content-copy .copy-answer {
  padding-left: 2.25em;
  background: url("images/copy-question.png") no-repeat left 4px;
  color: #8c8c8c;
}
.content-copy .copy-answer {
  background-image: url("images/copy-answer.png");
  color: #666;
}
.content-copy .copy-links {
  font-weight: 900;
  text-align: center;
  margin-top: -1em;
  font-size: 0.9em;
}
.content-copy .copy-links span {
  color: #ccc;
  padding-right: 0.75em;
}
.content-copy .copy-links ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
.content-copy .copy-links ul li {
  display: inline-block;
  padding-right: 0.5em;
}
.content-copy .copy-links ul li:after {
  content: '|';
  font-weight: 100;
  padding-left: 0.75em;
}
.content-copy .copy-links ul li:last-child:after {
  content: none;
}
.content-copy .copy-links ul li a {
  color: #e12a2e;
  text-decoration: none;
}
.content-copy .copy-links ul li a:hover {
  color: #d31e22;
}
.quote-box {
  margin: 3em -1.5em;
  background-size: cover;
  min-height: 160px;
  position: relative;
  z-index: 500;
}
.quote-box img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}
.copy-bg {
  margin: 0 -1.5em;
  margin-top: -5em;
  background-size: cover;
}
.copy-bg img {
  opacity: 0;
}
.copy-bg + .quote-box {
  margin-top: 0;
}
.copy-bg:last-child {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.product-item {
  *zoom: 1;
}
.product-item:before,
.product-item:after {
  content: '';
  display: table;
}
.product-item:after {
  clear: both;
}
.product-item .content-left {
  width: 53%;
}
.product-item .content-right {
  width: 47%;
}
.product-item .fixed {
  position: fixed !important;
  left: 53%;
  top: 70px;
  margin-left: -808px;
  width: 785px !important;
  -webkit-transition: margin-top 200ms ease !important;
          transition: margin-top 200ms ease !important;
}
@media only screen and (max-width: 1500px) {
  .product-item .fixed {
    width: 53% !important;
    left: 4px;
    margin-left: 0;
  }
  .product-item .fixed .slider-pager {
    right: 24px;
  }
}
.product-item.product-item-right .content-left {
  float: right;
  width: 53% !important;
}
.product-item.product-item-right .content-right {
  float: left;
  width: 47% !important;
}
.product-item.product-item-right .fixed {
  right: 53%;
  left: auto;
  top: 70px;
  margin-right: -790px;
  width: 785px !important;
  -webkit-transition: margin-top 200ms ease !important;
          transition: margin-top 200ms ease !important;
}
@media only screen and (max-width: 1500px) {
  .product-item.product-item-right .fixed {
    width: 53% !important;
    left: auto;
    right: 14px;
    margin-right: 0;
  }
}
.product-item p,
.product-item li {
  font-size: 0.9em;
  color: #666;
}
.product-item strong {
  color: #fff;
  font-weight: normal;
}
.product-item ul {
  list-style-type: none;
  padding-left: 1.5em;
}
.product-item ul li:before {
  content: '•';
  line-height: 1em;
  font-size: 1.5em;
  top: 0.15em;
  position: relative;
  margin-right: 0.25em;
}
.product-item .btn-review {
  margin: 0 auto;
}
#ironman-one-gps .content-right {
  background-color: #1c2329;
}
#ironman-one-gps .content-copy h2 {
  color: #929d15;
}
#ironman-one-gps .content-copy h2 span {
  color: #cddc38;
}
#ironman-one-gps .content-copy p,
#ironman-one-gps .content-copy li {
  color: #666;
}
#ironman-one-gps .content-copy li:before {
  color: #cddc38;
}
#ironman-run-x20-gps .content-right {
  background-color: #2b4459;
}
#ironman-run-x20-gps .content-copy h2 {
  color: #0387a7;
}
#ironman-run-x20-gps .content-copy h2 span {
  color: #69c1d6;
}
#ironman-run-x20-gps .content-copy p,
#ironman-run-x20-gps .content-copy li {
  color: #999;
}
#ironman-run-x20-gps .content-copy li:before {
  color: #69c1d6;
}
#ironman-move-x20 .content-right {
  background-color: #1b1c1d;
}
#ironman-move-x20 .content-copy h2 {
  color: #791b70;
}
#ironman-move-x20 .content-copy h2 span {
  color: #a74d99;
}
#ironman-move-x20 .content-copy p,
#ironman-move-x20 .content-copy li {
  color: #666;
}
#ironman-move-x20 .content-copy li:before {
  color: #a74d99;
}
#ironman-run-x50 .content-right {
  background-color: #393a2b;
}
#ironman-run-x50 .content-copy h2 {
  color: #aac941;
}
#ironman-run-x50 .content-copy h2 span {
  color: #c6da7f;
}
#ironman-run-x50 .content-copy p,
#ironman-run-x50 .content-copy li {
  color: #999;
}
#ironman-run-x50 .content-copy li:before {
  color: #c6da7f;
}
.content-banner {
  background-size: cover;
  background-position: center center;
  min-height: 275px;
}
.content-banner div {
  width: 40%;
  text-align: center;
  padding: 1em;
}
.content-banner h1 {
  font-weight: 900;
  text-transform: uppercase;
  background: url("images/title-underline-white.png") no-repeat center bottom;
  padding: 0;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 2em;
  margin: 2em 0 0.25em;
  letter-spacing: -1px;
  color: #fff;
}
.content-banner h2 {
  text-transform: uppercase;
  font-weight: 900;
  max-width: 520px;
  font-size: 1.25em;
  margin: 0 auto;
  color: #cbcbcb;
  line-height: 1em;
}
.content-banner img {
  margin: 2em auto;
  display: block;
}
.content-banner .btn {
  margin: 1.5em auto;
}
.article .content-full {
  background-color: #252525;
}
.article .content-copy {
  padding: 0 7.5em;
  margin: 0 auto;
}
.article .copy-image {
  margin: 1em -7.5em;
}
.article .content-copy h2 {
  color: #859fbd;
}
.article .content-copy h2 span {
  color: #b7c9df;
}
.article .article-related {
  margin: 1em 0;
  text-align: center;
}
.article .article-related .post-link-item {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
.article .article-related .post-link-item:before,
.article .article-related .post-link-item:after {
  content: '';
  display: table;
}
.article .article-related .post-link-item:after {
  clear: both;
}
.article .article-related > h2 {
  color: #859fbd;
  text-align: center;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-weight: 900;
}
.article .article-related > h2 span {
  color: #b7c9df;
}
.article .article-related > .btn {
  margin: 1em 0;
}
.article-index-set {
  clear: both;
  *zoom: 1;
}
.article-index-set:before,
.article-index-set:after {
  content: '';
  display: table;
}
.article-index-set:after {
  clear: both;
}
.bx-wrapper .bx-pager.bx-default-pager {
  bottom: 1.5em;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  display: inline-block;
  border: 1px solid #ae1231;
  line-height: 1em;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 20px;
  height: 12px;
  width: 12px;
  margin: 0 0.35em;
  background: none;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ae1231;
}
.btn-load-more {
  margin: 2em 0;
}
.tag-wall ul {
  padding: 0;
  margin: 16px auto;
  list-style-type: none;
}
.tag-wall ul li {
  background-color: #4c4c4c;
  display: block;
  width: 250px;
  margin-bottom: 8px;
  padding: 10px;
}
.tag-wall .social-feed-image img {
  width: 100%;
}
.tag-wall .social-feed-info {
  margin: 0.5em 0;
  *zoom: 1;
}
.tag-wall .social-feed-info:before,
.tag-wall .social-feed-info:after {
  content: '';
  display: table;
}
.tag-wall .social-feed-info:after {
  clear: both;
}
.tag-wall .social-feed-info img {
  float: left;
  margin-right: 0.5em;
  width: 40px;
  height: 40px;
}
.tag-wall .social-feed-info span {
  display: block;
  font-size: 0.75em;
  color: #fff;
  padding-top: 0.5em;
}
.tag-wall .social-feed-info span:last-child {
  color: #ccc;
  padding-top: 0;
}
.tag-wall .social-feed-content {
  font-size: 0.8em;
  clear: both;
  color: #fff;
}
.tag-wall .social-feed-content p {
  margin: 0.5em 0;
  color: #ccc;
}
.tag-wall .social-feed-content a {
  text-decoration: none;
  color: #fff;
}
.tag-wall .social-feed-content a:hover {
  text-decoration: underline;
}
.fixed {
  position: fixed !important;
  left: 50%;
  top: 70px;
  margin-left: -750px;
  width: 750px;
  -webkit-transition: margin-top 200ms ease !important;
          transition: margin-top 200ms ease !important;
}
@media only screen and (max-width: 1500px) {
  .fixed {
    width: 50%;
    left: 0;
    margin-left: 0;
  }
}
.scroll .fixed {
  width: 740px;
}
@media only screen and (max-width: 1500px) {
  .scroll .fixed {
    width: 50%;
    margin-left: -10px;
  }
}
.inspirationals-item {
  *zoom: 1;
}
.inspirationals-item:before,
.inspirationals-item:after {
  content: '';
  display: table;
}
.inspirationals-item:after {
  clear: both;
}
