extends _template

block content
  .content.tag-wall
    .content-full
      ul
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
              p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
